<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SmartGig_Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="808f91">  <td>21/06/29 10:26:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DriverManager.setup()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@4e718207]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1335596022</td>   <td></td> </tr>
<tr bgcolor="748aa2">  <td>21/06/29 10:27:00</td>   <td>7316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase_Demo_1.methodsetup()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@4e718207]">&gt;&gt;methodsetup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1335596022</td>   <td></td> </tr>
<tr bgcolor="748aa2">  <td>21/06/29 10:27:00</td>   <td>7342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_Demo_1.MavenDemo(java.util.HashMap)[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@4e718207]">MavenDemo</td> 
  <td>TestNG-tests-1@1335596022</td>   <td></td> </tr>
<tr bgcolor="748aa2">  <td>21/06/29 10:27:00</td>   <td>7486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase_Demo_1.EndMethod()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@4e718207]">&lt;&lt;EndMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1335596022</td>   <td></td> </tr>
<tr bgcolor="748aa2">  <td>21/06/29 10:27:01</td>   <td>7943</td> <td title="&lt;&lt;TestCase_Demo_1.endSuite()[pri:0, instance:com.client.base.uitest.admin.TestCase_Demo_1@4e718207]">&lt;&lt;endSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1608230649</td>   <td></td> </tr>
</table>
