<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a9d7d">  <td>21/06/29 08:55:09</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;GridDemo.afterTest()[pri:0, instance:com.client.base.uitest.admin.GridDemo@7a30d1e6]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@233996206</td>   <td></td> </tr>
<tr bgcolor="9a9d7d">  <td>21/06/29 08:55:03</td>   <td>-5372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GridDemo.sampleTest()[pri:0, instance:com.client.base.uitest.admin.GridDemo@7a30d1e6]">sampleTest</td> 
  <td>main@233996206</td>   <td></td> </tr>
<tr bgcolor="9a9d7d">  <td>21/06/29 08:55:08</td>   <td>-822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GridDemo.sampleTest1()[pri:0, instance:com.client.base.uitest.admin.GridDemo@7a30d1e6]">sampleTest1</td> 
  <td>main@233996206</td>   <td></td> </tr>
<tr bgcolor="9a9d7d">  <td>21/06/29 08:54:59</td>   <td>-9863</td> <td>&nbsp;</td><td title="&gt;&gt;GridDemo.setUp()[pri:0, instance:com.client.base.uitest.admin.GridDemo@7a30d1e6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@233996206</td>   <td></td> </tr>
</table>
